.sidebar-left {
  width: 380px;   
  height: 100vh;
  background: #202022;
  overflow-y: scroll;
  color: #f3f3f4;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  background-color: #f3f3f4;
}

.sidebar-right {
  width: 380px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #B4BEC9;
  text-align: center;
}

.public-users-section h4,
.private-users-section h4 {
  margin: 15px 0;
}

.public-users-section h4 {
  color:#202022;
}

.room-users-list,
.private-users-list {
  list-style: none;
}

.room-users-list li,
.private-users-list li {
  margin-bottom: 10px;
}

.room-users-list li a,
.private-users-list li a {
  text-decoration: none;
}

.room-users-list li a {
  color:#202022;
}

.room-users-list li a:hover {
  color: #308AD9;
}

.user-messages {
  flex-grow: 1;
}

.chat-message {
  margin: 7px 0;
}

.public-users-section,
.private-users-section {
  text-align: center;
  margin-top: 15px;
}

.private-users-section {
  display: none;
}

.public-users-list,
.private-users-list {
  font-size: 1.05rem;
}

.private-users-list li a {
  color: #66CAF2;
}

.private-users-list li a:hover {
  color: #efefef;
}

form {
  margin-top: 10px;
  display: flex;
}

form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  background-color: #E4E4E8;
}

form button {
  background-color: #66CAF2;
  cursor: pointer;
  padding: 10px;
  border: 0;
  width: 12%;
  color: #ffffff;
}