.sidebar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 100vh;
  background: #202022;
  color: #efefef;
  font-size: 1.7rem;
}

.sidebar-left form div {
  margin: 15px 0;
}

.sidebar-left form label {
  display: block;
}

.sidebar-left form input {
  font-size: 1.2rem;
  padding: 5px 0;
  border-radius: 3px;
}

.right-landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#index-form button {
  display: block;
  width: 100%;
  margin: 20px 0;
  font-size: 1.4rem;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background-color: #acacc2;
  color: #fff;
}

#index-form button:hover {
  background-color: #d6eafc;
  color: #0a0d26;
}
